@page "/account"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpClientFactory ClientFactory
@using Syncfusion.Blazor.InPlaceEditor
<div class="row">
    <div class="col-lg-8 control-section inplace-control-section default_layout">
        <div class="control_wrapper">
            <table>
                <tr>
                    <td>
                        <label class="control-label">
                            Account Number
                        </label>
                    </td>
                    <td>
                        <SfInPlaceEditor Mode="RenderMode.Inline" Type="InputType.Text" Value="@BankAccount" SubmitOnEnter="true">
                        </SfInPlaceEditor>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@*@if (_claims.Count() > 0)
    {
        <ul>
            @foreach (var claim in _claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    }
    <p>@_authMessage</p>*@

@code {

    private string _authMessage;
    private string Name;
    private string PostalCode;
    private string BankAccount;
    private string Country;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            _authMessage = "The user is NOT authenticated.";
            return;
        }

        _authMessage = $"{user.Identity.Name} is authenticated.";
        _claims = user.Claims;
        Name = user.FindFirst(c => c.Type == ClaimTypes.Name)?.Value;
        PostalCode = user.FindFirst(c => c.Type == ClaimTypes.PostalCode)?.Value;
        Country = user.FindFirst(c => c.Type == ClaimTypes.Country)?.Value;

        try
        {
            var client = ClientFactory.CreateClient("ServerAPI");

            var account = await client.GetStringAsync("accounts?id=1");
            Console.WriteLine(account);
        }
        //catch (AccessTokenNotAvailableException exception)
        //{
        //    exception.Redirect();
        //}
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}

<style>
    .inplace-control-section.default_layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide,
    .e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide {
        display: block;
        visibility: hidden;
    }

    .inplace-control-section.default_layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide,
    .e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide {
        display: block;
        visibility: hidden;
    }
    /* custom code start */
    .inplace-control-section.default_layout .control_wrapper {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

        .inplace-control-section.default_layout .control_wrapper table td {
            width: 200px;
            height: 100px;
        }
        /* custom code end */
        .inplace-control-section.default_layout .control_wrapper .control-center {
            text-align: center;
        }

        .inplace-control-section.default_layout .control_wrapper table td .control-label {
            margin-bottom: 0px;
        }

    .inplace-control-section.default_layout .e-inplaceeditor {
        height: auto;
    }

    .property-section table td {
        width: 50%;
    }

    .property-section table div {
        padding-left: 10px;
        padding-top: 10px;
    }

    @@media (max-width: 1200px) {
        .inplace-control-section.default_layout {
            width: 100%;
        }
    }

    @@media (max-width: 768px) {
        .inplace-control-section .control_wrapper table tr td:nth-child(1) {
            width: 130px;
        }

        .inplace-control-section .control_wrapper table tr td:nth-child(2) {
            width: 200px;
        }
    }
</style>